// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
