.garage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 2rem;
  .garage__container {
    margin-bottom: 3rem;
  }
  .garage__pagination {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 25rem;
      .prev-button,
      .next-button {
        width: 12rem;
        font-size: 2rem;
        border-radius: 0.9rem;
      }
    }
}

.garage__cars {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.car {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .car__title {
    font-size: 2rem;
  }
  .car__buttons {
    display: flex;
    width: 19rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    .car__select-btn,
    .car__remove-btn {
      width: 9rem;
      font-size: 2rem;
      border-radius: 0.5rem;
    }
  }
  .car__way {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.car__control {
  display: flex;
  .car__engine-panel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 1.5rem;
    .car__engine-btn {
      width: 6rem;
      font-size: 2rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    .car__engine-btn:disabled {
      background-color: var(--btn-disable);
      cursor: auto;
    }
    .start-engine-btn {
      background-color: var(--btn-start);
    }

    .stop-engine-btn {
      background-color: var(--btn-stop);
    }
  }
  .car__img {
    transform: translateY(2rem);
  }
}

.car__finish {
  transform: translateX(-12rem);
  img {
    width: 5rem;
  }
}

.car__road {
  width: 100%;
  height: 0.3rem;
  background-color: var(--hr-color);
}
