:root {
  --text-color: #fff;
  --hr-color: #fff;
  --bg-color: rgba(0, 0, 0, 0.4);
  --main-color: rgb(45, 52, 71);
  --btn-page: rgb(99, 182, 215);
  --btn-hover: rgb(23, 114, 150);
  --btn-disable: rgb(97, 117, 125);
  --btn-start: rgb(21, 196, 65);
  --btn-stop: rgb(228, 66, 21);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  color: var(--text-color);
}

ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


body {
  min-height: 100vh;
  background-color: var(--main-color);
  overflow-x: hidden;
}

.btn {
  background-color: var(--btn-page);
  cursor: pointer;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background: var(--btn-hover);
    transform: scale(1.03);
  }

  &:disabled {
    background-color: var(--btn-disable);
    cursor: auto;
  }
}
